 <!-- Begin page -->
 <div id="wrapper">

    <!-- Top Bar Start -->
    <div class="topbar">

        <!-- LOGO -->
        <div class="topbar-left">
            <a href="/" class="logo">
                <span class="logo-light">
                    <i style="font-size: 25px;"class="mdi mdi-fire"></i> URL KISALTICI
                </span>
                <span class="logo-sm">
                    <i class="mdi mdi-fire"></i>
                </span>
            </a>
        </div>

        <nav class="navbar-custom">
            <ul class="navbar-right list-inline float-right mb-0">
                
        
                

                <li class="dropdown notification-list list-inline-item">
                    <div class="dropdown notification-list nav-pro-img">
                        <a class="dropdown-toggle nav-link arrow-none nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <img src="dashboard/images/users/user-4.jpg" alt="user" class="rounded-circle">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                            <!-- item-->

                            
                            <a style="color:darkred;font-size: 15px;"  href="/users/logout"><div><i style="color:darkred;font-size: 30px;" class="mdi mdi-power"></i><b> Çıkış</b></div></a>
                        </div>
                    </div>
                </li>

            </ul>

            <ul class="list-inline menu-left mb-0">
                <li class="float-left">
                    <button class="button-menu-mobile open-left waves-effect">
                        <i class="mdi mdi-menu"></i>
                    </button>
                </li>
                
            </ul>

        </nav>

    </div>
    <!-- Top Bar End -->

   <!-- ========== Left Sidebar Start ========== -->
   <div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
                <li class="menu-title">Menu</li>
                <li>
                    <a href="/dashboard" class="waves-effect">
                        <i class="icon-accelerator"></i><span> Panel </span>
                    </a>
                </li>
                
                <li>
                    <a href="/dashboard/url" class="waves-effect">
                        <i  class="fa fa-list"></i><span> Url Geçmişi </span>
                    </a>
                </li>
                <% if (user.isAdmin) { %> 
                    <li>
                        <a href="/dashboard/admin" class="waves-effect">
                            <i class="fa fa-cubes"></i><span> Admin Paneli </span>
                        </a>
                    </li>  
                <% } %>

            </ul>

        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
                <div class="page-title-box">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <!--<h4 class="page-title">Url Shortner</h4>-->
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item" style="font-size: medium;"><a href="javascript:void(0);"><b>HOŞGELDİN,  <%= user.name %> </b> </a></li>
                            </ol>
                        </div>
                    </div> <!-- end row -->
                </div>
                <!-- end page-title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card m-b-30">
                            <div class="card-body">

                                <h2 style="color:#e83e8c" class="mt-0 header-title">Url Kısaltıcı</h2>
                                <h5 class="sub-title">Tek tık ile  uzun url linkinizi <code
                                        class="highlighter-rouge">kısaltın</code> </code>.</h5>
                                
                                <!-- start form -->
                                <form action="/dashboard" method="post">
                                    <!--Start Message Display-->
                                    <% if(created) { %> 
                                        <%var index=0; %> 
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                            Kısa URL'iniz: <a  id="p<%= index%>" href="<%= created %>" class="alert-link"><%= created %> </a>.
                                            <a style="display:inline-block;" onclick="copyToClipboard('#p<%= index %>');" class="btn btn-lg-square mx-2"><i style="display:inline-block;font-size: 30px;"class="fas fa-clipboard"></i></a>
                                            <span style="display:inline-block;"><p id="myP" style="display: none;position:relative">Kopyalandı!</p></span> 
                                        
                                        </div>
                                    <% } %>
                                    <% if(error) { %>
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                            <%= error %> 
                                        </div>
                                    <% } %>
                                    <!--End Message Display-->
                                    <div class="form-group row">
                                        <label for="url" class="col-sm-2 col-form-label">Uzun Url</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" name="url" id="url" placeholder="Uzun link giriniz" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="slug" class="col-sm-2 col-form-label">Kısaltılmış Ad</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" name="slug" id="slug" placeholder="Kısa adı giriniz">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="slug" class="col-sm-2 col-form-label">Geçerlilik Süresi</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" name="validFor" id="validFor" placeholder="Link bu gün sayısı ile geçerli kalacaktır">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-10">
                                            <input class="form-control" type="hidden" name="userid" id="userid" value="<%= user.id %>">
                                        </div>
                                    </div>
                                    <button type="submit" value="submit" class="btn btn-warning waves-effect waves-light">KISALT!</button>
                                </form><!-- end form-->
                            </div>
                            
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row --> 
                
                
                
            
            <!-- container-fluid -->
        </div>
        <!-- content -->

        

    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->

</div>
<style>
    i.fas {

  cursor: pointer;
  user-select: none;
}

.fas:hover {
  color: rgb(85, 34, 157);
}
.fas:focus {
  color: rgb(16, 4, 33);
}
</style>
<script>
    function copyToClipboard(element) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val($(element).text()).select();
      document.execCommand("copy");
      $temp.remove();
        document.getElementById("myP").style.display = "block";


     
    }

    
  </script>
